.social{
    text-align: center;
    font-size: 17px;
    background-color: yellowgreen;
    color: antiquewhite;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-color: yellowgreen;
    padding: 0.5%;
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.paragraph{
    margin-left: 30%;
    margin-right: 30%;
}

.paragraph2{
    margin-left: 30%;
    margin-right: 30%;
}